:root {
    --font-family: "Fraunces", serif;
    --primary-color: rgb(55, 84, 55);
    --secondary-color: #000000;
    --highlight-color: rgb(55, 84, 55);
    --highlight-hover-color: rgb(55, 84, 55);
    --light-background-color: #f5f0e6;
    --background-color: rgb(255, 255, 255, 0.973);
    --footer-background-color: #d8e3d8;
  }
  
  /* Base styles */
  body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Navigation bar */

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw; /* Increased padding for a better look */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slightly larger shadow for depth */
    z-index: 1000;
  }
  
  #user-icon {
    cursor: pointer;
    padding: 10px 20px; /* Increased padding for better spacing */
    border-radius: 10px;
  }
  
  #user-icon:hover {
    color: white;
    background-color: rgb(55, 84, 55);
  }
  
  .nav-icon {
    font-size: 24px; /* Ensures both icons are the same size */
    color: #333;
  }
  
  .login-signup {
    position: absolute;
    top: 50px; /* Changed to px for more control */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    align-items: flex-start;
    z-index: 1000;
  }
  
  
  .login-signup.show {
    display: flex;
  }
  
  .nav-logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo {
    height: 50px; /* Changed to px for more control */
  }
  
  .nav-items-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
  }
  
  .nav-items {
    display: flex;
    gap: 30px; /* Increased gap for better spacing */
  }
  
  .nav-items li a {
    font-size: 16px; /* Changed to px for more control */
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .nav-items li a:hover {
    background-color: var(--highlight-color);
    color: white;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
    gap: 20px; /* Increased gap for better spacing */
  }
  
  .nav-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    width: 120px; /* Changed to px for more control */
  }
  
  .nav-button + .nav-button {
    margin-left: 15px; /* Changed to px for more control */
  }
  
  .nav-button:hover {
    background-color: rgb(55, 84, 55);;
  }
  
  .cart-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    margin-right: 30px; /* Changed to px for more control */
  }
  
  .cart-link:hover {
    background-color: var(--highlight-color);
    color: white;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px; /* Changed to px for more control */
    height: 30px; /* Changed to px for more control */
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    height: 5px; /* Changed to px for more control */
    background-color: #333;
    border-radius: 1px; /* Changed to px for more control */
  }
  
  .nav-menu {
    display: none;
    z-index: 1500;
  }
  
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Changed to px for more control */
    padding: 20px; /* Changed to px for more control */
  }
  
  @media (max-width: 768px) {
    .nav-bar {
      justify-content: space-between;
    }
  
    .nav-logo-container {
      justify-content: flex-start;
      position: static;
      transform: none;
      flex: 1;
    }
  
    .nav-items-container {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  
    .nav-icons {
      gap: 5px; /* Adjusted for smaller screens */
    }
  
    .nav-menu {
      display: none;
    }
  
    .nav-menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 8vh;
      right: 0;
      background-color: #f8f8f8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px;
      z-index: 1500;
    }
  
    .nav-items {
      flex-direction: column;
    }
  
    .nav-items li {
      margin: 10px 0; /* Adjusted for smaller screens */
    }
  }
  
  
  
  /* Background header */
  .background-header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
  }
  
  .background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  .background-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52,0.4);
    z-index: 1;
  }
  
  .background-items {
    position: relative;
    z-index: 2;
    padding: 3vh;
    border-radius: 1vh;
  }
  
  .background-items h2 {
    font-size: 10vh;
    margin-bottom: 2vh;
  }
  
  .background-items p {
    font-size: 5vh;
    margin-bottom: 2vh;
    font-family: var(--font-family);
  }
  
  .background-items button {
    padding: 2vh 3vw;
    font-size: 2vh;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: #ffffffcc;
    border: none;
    cursor: pointer;
    border-radius: 2vh;
    width: 15vw;
  }
  
  .background-items button:hover {
    background-color: rgba(55, 84, 55, 0.9);
    transition: 0.5s;
    color: white;
  }
  

/* Functionality section */
.functionality-container {
  text-align: center;
  padding: 8vh 4vw; /* Increased padding for more space */
  background-color: var(--light-background-color);
}

.functionality-container h2 {
  font-size: 4vh;
  margin-bottom: 4vh; /* Increased margin for more space */
  font-weight: normal;
  color: var(--secondary-color);
  position: relative;
  display: inline-block;
}

.functionality-container h2::after {
  content: '';
  display: block;
  width: 100%; /* Adjusted width for a smaller line */
  height: 2px; /* Adjust the thickness of the line */
  background: #666; /* Adjust the color of the line */
  position: absolute;
  bottom: -10px; /* Adjust the distance from the text */
  border-bottom: 2px dotted #666; /* Dotted line */
}

.functionality-items {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 4vw; /* Increased gap between items */
  flex-wrap: wrap; /* Allow wrapping of items */
}

.circle-item {
  text-align: center;
  width: calc(50% - 2vw); /* Adjust width to fit two items per row with a gap */
  max-width: 40vh; /* Set maximum width for items */
  margin-bottom: 4vh; /* Add margin to bottom for spacing */
}

.circle {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background-color: rgb(255, 252, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  margin: 0 auto 2vh;
  font-weight: bold;
}

.circle-item p {
  font-size: 2.5vh;
  margin: 2vh 0 4vh; /* Increased margin for more space */
  color: #666;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.circle-item p::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline here */
  bottom: -2px; /* Adjust based on the desired distance from the text */
  left: 0;
  background-color: rgb(55, 84, 55);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.circle-item:hover p {
  color: rgb(64, 132, 46);
}

.circle-item:hover p::before {
  visibility: visible;
  width: 100%;
  background-color: rgb(74, 148, 54); /* Match the color on hover */
}

.functionality-image {
  width: 100%;
  max-width: 60vh; /* Set maximum width for images */
  height: auto;
  border-radius: 1vh;
}




  
  /* Sizes section */
  .items-size-display {
    text-align: center;
    padding: 4vh;
    background-color: #ffffffea;
  }
  
  .items-size-display h1 {
    font-size: 4vh;
    margin-bottom: 2vh;
    font-weight: normal;
    color: #333;
  }
  
  .items-size-display p {
    font-size: 3vh;
    margin-bottom: 3vh;
    color: #666;
  }
  
  .item-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
  }
  
  .item-container {
    text-align: center;
    width: 20vh;
  }
  
  .item-container .size-desc {
    position: relative;
    display: inline-block;
    color: rgb(55, 84, 55);
    transition: color 0.3s ease;
    font-size:3vh;
  }
  
  .item-container .size-desc::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline here */
    bottom: -2px; /* Adjust based on the desired distance from the text */
    left: 0;
    background-color: rgb(55, 84, 55);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .item-container:hover .size-desc {
    color: rgb(64, 132, 46);
  }
  
  .item-container:hover .size-desc::before {
    visibility: visible;
    width: 100%;
    background-color: rgb(74, 148, 54); /* Match the color on hover */
  }
  
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 1vh;
    margin-bottom: 1vh;
  }
  
  .item-container p {
    font-size: 2vh;
    color: #666;
  }
  
  /* Sale section */
  .sale-section {
    text-align: center;
    padding: 4vh;
    background-color: var(--light-background-color);
  }
  
  .sale-section h1 {
    font-size: 4vh;
    margin-bottom: 2vh;
    font-weight: normal;
    color: var(--secondary-color);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    gap: 2vh;
    max-width: 120vh;
    margin: 0 auto;
    padding: 2vh;
  }
  
  .grid-item {
    background-color: #fff;
    border-radius: 1vh;
    padding: 2vh;
    text-align: center;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 1vh;
    margin-bottom: 1vh;
  }
  
  .product-title {
    font-size: 2vh;
    margin: 1vh 0;
    color: #666;
  }
  
  .product-price {
    font-size: 2.4vh;
    font-weight: bold;
    color: var(--secondary-color);
  }
  
  .add-to-cart {
    padding: 1.5vh 3vw;
    font-size: 2vh;
    font-weight: bold;
    color: #fff;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    margin-top: 1vh;
  }
  
  .add-to-cart:hover {
    background-color: rgb(72, 117, 72);
    transition: 0.5s;
  }
  
  /* FAQ section */
  .question-container {
    max-width: 80vh;
    margin: 0 auto;
    margin-top:8vh;
    margin-bottom:8vh;
    padding: 2vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.8vh;
  }
  
  .question-container h2 {
    text-align: center;
  }
  
  .question-container-boxes {
    margin-top: 2vh;
  }
  
  .container-box {
    background: #f9f9f9;
    margin-bottom: 1vh;
    padding: 1vh;
    border-radius: 0.5vh;
    cursor: pointer;
    border: 0.1vh solid #ddd;
    position: relative;
  }
  
  .container-box p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 1vh;
  }
  
  .container-box.active .dropdown-content {
    max-height: 20vh;
    padding: 1vh;
  }
  
  .arrow {
    font-size: 1.2em;
    margin-left: auto;
    transition: transform 0.3s ease-out;
  }
  
  .container-box.active .arrow {
    transform: rotate(180deg);
  }
  
  /* Icon container section */
  .icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4vh;
    background-color: rgb(255, 252, 249);
    text-align: center;
  }
  
  .icon-item {
    width: 20%;
  }
  
  .icon-item i {
    font-size: 5vh;
    color: rgb(55, 84, 55);
    margin-bottom: 1vh;
  }
  
  .icon-item h3 {
    font-size: 2.5vh;
    color: rgb(55, 84, 55);
    margin-bottom: 1vh;
  }
  
  .icon-item p {
    font-size: 2.5vh;
    color: #666;
  }
  
  /* Footer styles */
.footer {
    background-color: var(--footer-background-color);
    padding: 4vh 4vw;
    text-align: center; /* Center align text */
  }
  
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-background-color);
    padding: 4vh 4vw;
    border-radius: 2.5vh;
  }
  
  .newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-background-color);
    padding: 4vh 4vw;
    border-radius: 2.5vh;
  }
  
  .newsletter-section h2 {
    margin-bottom: 2vh;
    font-size: 3vh;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter-form input[type="email"] {
    padding: 2vh 1vw;
    text-align: center;;
    border: none;
    border-radius: 2.5vh;
    margin-bottom: 2vh;
    font-size: 2vh;
    outline: none;
    box-shadow: 0 0.5vh rgba(0, 0, 0, 0.1);
    width:20vw;
  }
  
  .newsletter-form button {
    padding: 2vh 3vw;
    background-color: rgb(55, 84, 55);
    color: white;
    border: none;
    border-radius: 2.5vh;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .newsletter-form button:hover {
    background-color: #337636d0;
  }
  
  .newsletter-form input[type="email"]::placeholder {
    font-size: 2vh;
    color: #aaa;
  }
  
  .social-media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
  }
  
  .social-media-section h2 {
    margin-bottom: 2vh;
    font-size: 3vh;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2vh;
  }
  
  .social-icons li {
    margin: 0 1vh;
  }
  
  .social-icons li a {
    text-decoration: none;
    color: #000;
    font-size: 2.5vh;
    border: 0.1vh solid #000;
    border-radius: 50%;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    height: 4vh;
    transition: 0.3s;
  }
  
  .social-icons li a:hover {
    background-color: rgb(55, 84, 55);
    transition: 0.5s;
    color: white;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align sections */
    text-align: center; /* Center align text */
    padding-top: 4vh;
  }
  
  .footer-section {
    flex: 1 1 20vh;
    padding: 0 2vh;
    margin-bottom: 2vh;
    max-width: 30%;
  }
  
  .footer-section h2 {
    margin-bottom: 2vh;
    font-size: 2.5vh;
    font-weight: bold;
  }
  
  .footer-section p, .footer-section address, .footer-section ul {
    font-size: 2vh;
    color: #666;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 1vh;
  }
  
  .footer-section ul li a {
    position: relative;
    display: inline-block;
    color: #666;
    text-decoration: none;
  }
  
  .footer-section ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color:  rgb(55, 84, 55);;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

  }
  
  .footer-section ul li a:hover::before {
    visibility: visible;
    width: 100%;

  }
  
  .footer-section address {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .footer-top, .footer-bottom {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      flex: 1 1 100%;
      text-align: center;
    }
  
    .newsletter-form {
      flex-direction: column;
      align-items: center;
    }
  
    .social-icons {
      justify-content: center;
    }
  }
  .footer-copyright {
    text-align: center;
    padding: 10px 0;
    background-color: var(--footer-background-color);
    font-size: 14px;
    color: #666;
  }
  
  